<div class='breadcrumbs'>
  <ul>
    <%= render :partial => 'application/subdivisions_breadcrumbs' %>
    <li>
      <%= link_to @subdivision, subdivision_path(@subdivision) %>
    </li>
    <li>
      <%= link_to "Ведомость по предмету &laquo;#{@docket}&raquo;".html_safe, subdivision_docket_path(@subdivision, @docket) %>
    </li>
  </ul>
</div>

<%= render 'form' %>
