<div class='breadcrumbs'>
  <ul>
    <li>
      <span>Список обеспечивающих кафедр</span>
    </li>
  </ul>
</div>

<div class='search'>
  <div class='search_in_list_wrapper'>
    <%= simple_form_for :search, :html => { :class => 'search_form' } do |f| %>
      <%= f.input :query,
        :label => false,
        :placeholder => 'Найти по названию кафедры/факультета, ФИО ответственного, адресу почты',
        :input_html => { :data => { :list => '.list.subdivisions' } } %>
    <% end %>
  </div>

</div>


<ul class='list subdivisions'>
  <% @subdivisions.each do |subdivision| %>
    <li>
      <%= link_to subdivision, subdivision_path(subdivision) %>
      (<%= subdivision.permissions.any? ? subdivision.permissions.map(&:title).join(',').html_safe : "<span class='alert'>ответственный не назначен</span>".html_safe %>)
    </li>
  <% end %>
</ul>
