<div class='breadcrumbs'>
  <ul>
    <li>
      <span>Список обеспечивающих кафедр</span>
    </li>
  </ul>
</div>

<ul class='list'>
  <% @subdivisions.each do |subdivision| %>
    <li>
      <%= link_to subdivision, subdivision %>
    </li>
  <% end %>
</ul>
