<h1><%= @subdivision %></h1>
<ul class='list'>
  <% @subdivision.dockets.group_by(&:discipline).each do |discipline, dockets| %>
    <li>
      <%= discipline %>
      <ul>
        <% dockets.sort_by{|d| d.group.title }.each do |docket| %>
          <li>
            <%= link_to docket.group, [@subdivision, docket] %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
