<div class='breadcrumbs'>
  <ul>
    <% if can? :index, Subdivision %>
      <li>
        <%= link_to 'Список обеспечивающих кафедр', subdivisions_path %>
      </li>
    <% end %>
    <li>
      <span><%= @subdivision %></span>
    </li>
  </ul>
</div>

<h1><%= @subdivision %></h1>

<ul class='list periods'>
  <% @periods.each do |period| %>
    <li>
    <%= link_to "#{period.title}", subdivision_dockets_path(@subdivision, :period_id => period.id) %>
    </li>
  <% end %>
</ul>
