<% if @subdivision.dockets.editable_unfilled(1).any? %>
  <div class='unfilled_warning'>
    <h3>Необходимо заполнить <%= link_to I18n.t(:dockets, :count => @subdivision.dockets.editable_unfilled(1).count), subdivision_dockets_path(@subdivision, :editable_unfilled => true) %></h3>
  </div>
<% end %>
